# Негізгі шешілуге тиіс мәселе ол - банк клиенті кредитті қайтарама немесе жоқпа соны деректер базасына сүйене отырып анықтау қажет.

        Клиент банкке кредит алуға өтініш қалдырады, ал банк болса статистикалық модельге сүйене отырып клиентің өтінішін қабылдайды немесе кредит беруден бастартады.Модель осыған дейінгі кредит алған клиенттердің(кредит қайтарған және қайтармаған клиенттер бар) тариғын зерттеп, кредит қайтаратын немесе кредит қайтармайтын кленттердің негізгі факторларын анықтайды.

### ШАГ~1: Негізгі мәселені анықтау
             ШАГ1: Қандай мәселені шешу қажет?
                       Маған жақсы клиентпен нашар клиентті көрсете алатын модель қажет
             ШАГ2: Не үшін мәселе шешілуі қажет?
                       Компания қорынан нашар клиентке кеткен шығынды және ресурстарды(уақыт) азайту үшін.Жақсы
                       клиенттерді сурыптап және соларға коңіл бөліп компанияға келіп түсетін қаражатты ұлғайту.
             ШАГ3: Мен мәселені қалай шешер едім?
                       Алдымен негізгі мәліметтерді зертеймін, сосын дерекқорды талдап, дерекқорды тазартамын.
                       Негізгі белгілерді қарастырып, жақсы клиентпен нашар клиентті табатын модель құрамын.

# ШАГ ~ 1: Мәліметтерді талдау және анализге дайындау.
                 
                 children - Клиенттің бала санын көрсетеді
                 days_employed - Клиенттің жумыс стажы 
                 dob_years - 
                 education - Клиенттің білімі 
                 family_status - Отбасылық жағдайы 
                 gender - жынысы
                 income_type - Клиент табысының түрі
                 debt - 
                 total_income - Клиенттің жалпы табысы
                 purpose - кредит алу мақсаты

### Кезең 1 ~ Дерекқорды аламыз және негізгі кітапханаларды шақырамыз

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import warnings
warnings.simplefilter('ignore')
from collections import Counter

##### Дерекқорды оқыймыз

In [2]:
credit_df = pd.read_csv('/home/bakytzhan/IProject/DataAnalysis/Data/Credit.csv')

In [14]:
credit_df.head() #Бастапқы баған мен жолақшаларды көру

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [17]:
credit_df.shape

(21525, 12)

In [18]:
credit_df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

In [9]:
credit_df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [19]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [20]:
credit_df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

### Қорытынды:
                    - children бағанында мин = -1 мәнін өзгерту қажет(бала саны теріс нәтиже болмайды)
                    - days_employed бағанындағы теріс нәтижелерді өзгерту қажет(жумыс стажы теріс мән болмайды)
                    - education бағанындағы регистірді бір стандартқа келтіру қажет 
                    - баған аттарын өзгерту қажет(бағанды сипаттайтын ат беру қажет)
                    - days_employed бағанын бүтін санға келтіру қажет
                    - days_employed бағанын жылдық түрге ауыстырған жөн
                    - education, education_id, family_status, family_status_id - признактырының мәні бірдей
                    - days_employed бағанындағы nun мәнін ауыстыру қажет
                    - total_income бағанындағы nun мәнін ауыстыру қажет

###